{% extends 'base.html' %}

{% block content %}

<div class="d-flex">
  <form method="GET">
    {{objFilter.form}}  
      <button type="submit" class="btn btn-primary mr-10" style="margin-left:20px" >Search</button>
 
  </form>
</div>

<div class="mb-4 mt-2">
  <a href="{% url 'crear_propiedad' %}" class="btn btn-primary">
    Crear Registro
  </a>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>País</th>
      <th>Ciudad</th>
      <th>Código Postal</th>
      <th>Tipo</th>
      <th>Superficie</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for i in obj %}
      <tr>
      <td>{{i.nombre}}</td>
      <td>{{i.direccion}}</td>
      <td>{{i.pais}}</td>
      <td>{{i.ciudad}}</td>
      <td>{{i.codigo_postal}}</td>
      <td>{{i.type}}</td>
      <td>{{i.superficie}}</td>
      <td>
        <a href="{% url 'actualizar_propiedad' i.id %}" class="text-primary">Editar</a>
        <a href="{% url 'borrar_propiedad' i.id %}" class="text-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 
  {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}
 
{% endblock content %}