
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
 
<div class="mb-2">
  <h3>
    {% if obj %}
    Editar
    {% else %}
    Nuevo
    {% endif %}
    Propiedad
  </h3>
</div>

<div class="mx-auto" style="width: 700px">
<form method="post">
    {% csrf_token %}
    {{form|crispy}}
  <div class="text-end mt-3">
    <a href="{% url 'lista_propiedades' %}" class="btn btn-danger me-1">
      Cancelar
    </a>
    <button class="btn btn-primary">
      {% if obj %}
      Actualizar
      {% else %}
      Crear
      {% endif %}
      Propiedad
    </button>
  </div>
</form> 
</div> 
 

{% endblock content %}
